body
{
	background:url(../images/bk.gif);
	background-color:#FFF;
	background-repeat:repeat-x;
	color:#444;
	font-family:Verdana, Arial, Tahoma, Trebuchet MS, Sans-Serif, Georgia, Courier, Times New Roman, Serif;
	font-size:11px;
	line-height:135%;
	text-align:center;
	margin:0;
	padding:0
}

#install-progress
{
	height:90px;
	width:175px;
	border:#dedede solid 1px;
	float:left;
	font-size:10px;
	margin:5px;
	padding:5px
}

a:active
{
	color:red;
	text-decoration:underline
}

a:hover
{
	color:#000;
	border-bottom:#000 dotted 1px
}

.inputbox
{
	border:1px solid #000;
	font-size:14px;
	background-color:#d7d7d7;
	width:200px;
	padding-left:2px
}

.dbg.b
{
	font-size:12px;
	font-weight:700
}

.tablerow1
{
	background-color:#EAEDF0;
	border-color:#FFF #c1bebe #c1bebe #fff;
	border-style:solid;
	border-width:1px;
	padding:6px
}

.tablerow2
{
	background-color:#ecd5d8;
	background-image:url(../images/table_highlight_red.gif);
	border-color:#FFF #c1bebe #c1bebe #fff;
	border-style:solid;
	border-width:1px;
	padding:6px
}

.tablerow4
{
	background-color:#C0CBDA;
	background-image:url(../images/table_highlight.gif);
	color:#fff;
	border-color:#FFF #d1dceb #d1dceb #fff;
	border-style:solid;
	border-width:1px;
	padding:6px
}

#mainwrapper
{
	width:922px;
	text-align:left;
	height:100%;
	margin:0 auto
}

#header
{
	width:900px;
	height:64px;
	border:0;
	margin:0 auto
}

#tabsWrapper
{
	width:100%;
	text-align:left;
	height:18px;
	margin:5px auto 0
}

#innerwrapper
{
	text-align:left;
	margin:0 14px
}

#navigation
{
	width:100%;
	height:22px
}

#breadcrumb
{
	width:100%;
	height:22px;
	margin-bottom:-5px
}

#content_title
{
	font-size:22px;
	color:#b80202;
	margin-top:10px;
	padding:3px
}

#content
{
	background-color:#FFF;
	border-top:2px solid #aaa9a9;
	overflow:hidden;
	padding:8px
}

#footer
{
	clear:both;
	color:#000;
	width:892px;
	margin-left:15px;
	background-image:url(../images/footerrepeatbg.png);
	background-repeat:repeat-x;
	height:68px
}

#head-logo
{
	float:left;
	margin-top:12px
}

#head-userbox
{
	border:1px dotted #cccecd;
	float:right;
	width:273px;
	height:35px;
	margin-top:12px;
	line-height:18px;
	color:#666;
	padding:3px
}

#tabs
{
	float:left;
	margin-left:0
}

#tabs ul li
{
	margin-right:2px;
	float:left;
	background:url(../images/nav/tab_right.jpg) no-repeat top right
}

#tabs ul li a
{
	border:0;
	display:block;
	background:url(../images/nav/tab_left.jpg) no-repeat top left;
	text-align:center;
	color:#333;
	font-size:10px;
	font-weight:bolder;
	line-height:18px;
	text-decoration:none;
	padding:0 10px
}

#tabs ul li a:hover
{
	border:0;
	color:#333;
	text-decoration:underline
}

#tabs ul li.active
{
	background:url(../images/nav/tab_active_right.jpg) no-repeat top right
}

#tabs ul li.active a
{
	background:url(../images/nav/tab_active_left.jpg) no-repeat top left;
	color:#FFF;
	padding:0 10px
}

h4
{
	margin:0
}

h3
{
	margin-right:5px;
	margin-top:5px;
	margin-bottom:5px;
	font-size:12px;
	border-bottom:1px dotted #000;
	font-weight:700;
	background-color:#eaeaea;
	padding:5px
}

.tool-tip
{
	color:#fff;
	width:139px;
	z-index:13000;
	text-align:left
}

.tool-title
{
	font-weight:700;
	font-size:14px;
	color:#b80202;
	border-bottom:#b80202 dotted 1px;
	background:url(../images/bubble.png) top left;
	margin:0;
	padding:8px 8px 4px
}

.tool-text
{
	font-size:11px;
	background:url(../images/bubble.png) bottom right;
	padding:4px 8px 8px
}

.perm-tip
{
	color:#fff;
	width:210px;
	z-index:13000;
	text-align:left
}

.perm-title
{
	font-weight:700;
	font-size:14px;
	color:#b80202;
	border-bottom:#b80202 dotted 1px;
	background:url(../images/bubble2.png) top left;
	margin:0;
	padding:8px 8px 4px
}

.perm-text
{
	font-size:11px;
	background:url(../images/bubble2.png) bottom right;
	padding:4px 8px 8px
}

#nav
{
	color:#FFF;
	float:left;
	width:580px;
	font-weight:600;
	font-size:10px;
	padding:3px 0 0 3px
}

a.nav_link:link,a.nav_link:visited
{
	color:#FFF;
	text-decoration:none;
	padding:0 5px
}

#search
{
	width:300px;
	float:right;
	text-align:right;
	padding:2px 0 0
}

.button
{
	background-image:url(../images/searchbutton.jpg);
	border:0;
	width:18px;
	height:18px
}

.dialog-holder
{
	border-collapse:collapse;
	table-layout:fixed;
	width:465px;
	margin:auto
}

td.dialog-topleft
{
	background-image:url(../images/dialog/dialog_topleft.png)!important
}

td.dialog-border
{
	background-image:url(../images/dialog/dialog_border.png)!important
}

td.dialog-topright
{
	background-image:url(../images/dialog/dialog_topright.png)!important
}

td.dialog-bottomright
{
	background-image:url(../images/dialog/dialog_bottomright.png)!important
}

td.dialog-bottomleft
{
	background-image:url(../images/dialog/dialog_bottomleft.png)!important
}

td.dialog-topleft,td.dialog-topright,td.dialog-bottomright,td.dialog-bottomleft
{
	height:10px;
	overflow:hidden;
	width:10px!important;
	padding:0!important
}

h2
{
	color:#FFF;
	font-size:14px;
	font-weight:700;
	display:block;
	margin:0;
	padding:4px 10px 5px
}

h2.error
{
	background:#b46d6d none repeat scroll 0;
	border:1px solid #983b3b
}

h2.info
{
	background:#6d8bb4 none repeat scroll 0;
	border:1px solid #3b6298
}

h2.warning
{
	background:#b4ae6d none repeat scroll 0;
	border:1px solid #887a2c
}

h2.ok
{
	background:#75b46d none repeat scroll 0;
	border:1px solid #46983b
}

.icon-ok
{
	background-image:url(../images/ok.png);
	float:left;
	height:48px;
	overflow:hidden;
	width:48px!important;
	padding:0!important
}

.icon-info
{
	background-image:url(../images/info.png);
	float:left;
	height:48px;
	overflow:hidden;
	width:48px!important;
	padding:0!important
}

.dialog-content
{
	background:#FFF none repeat scroll 0;
	border-color:#555;
	border-style:solid;
	border-width:0 0 1px
}

div.dialog-body
{
	border-bottom:1px solid #CCC;
	padding:10px
}

div.dialog-control
{
	background:#F2F2F2 none repeat scroll 0;
	text-align:right;
	vertical-align:bottom;
	padding:8px
}

.clearfix:after
{
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden
}

.clearfix
{
	display:inline-block
}

.btn
{
	color:#444;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-weight:700;
	background-color:#eaeaea;
	border:1px solid;
	background-repeat:no-repeat;
	background-position:2px 50%;
	border-color:#d5d4d4 #c8c8c8 #c8c8c8 #d5d4d4;
	margin:0 .5em;
	padding:1px 1px 1px 20px
}

.btnhvr
{
	color:#444;
	font-family:'trebuchet ms',helvetica,sans-serif;
	font-weight:700;
	background-color:#eaeaea;
	border:1px solid;
	background-repeat:no-repeat;
	background-position:2px 50%;
	border-color:#c24733 #a33c2b #a33c2b #c24733;
	margin:0 .5em;
	padding:1px 1px 1px 20px
}

.game
{
	background-image:url(../images/connect.gif)
}

.ok
{
	background-image:url(../images/admin/ok.gif)
}

.save
{
	background-image:url(../images/admin/save.gif)
}

.cancel
{
	background-image:url(../images/admin/cancel.gif)
}

.login
{
	background-image:url(../images/login.gif)
}

.refresh
{
	background-image:url(../images/refresh.png)
}

.msg-button
{
	float:right;
	position:absolute;
	top:85px;
	left:480px
}

.msgbox-border
{
	position:fixed!important;
	overflow:hidden;
	top:250px;
	width:520px;
	margin:auto 210px;
	padding:15px
}

#msg-red
{
	background-color:#fefad3;
	border:#E80909 1px solid;
	color:#E80909;
	width:500px;
	height:75px;
	overflow:hidden;
	padding:8px
}

#msg-red-debug
{
	background-color:#fcf7c9;
	border:#E80909 1px dotted;
	color:#E80909;
	width:75%;
	overflow:hidden;
	margin:10px auto;
	padding:8px
}

#msg-red b,#msg-green b,#msg-blue b,#msg-red-debug b,#msg-green-debug b
{
	font-size:16px
}

#msg-red i,#msg-blue i,#msg-green i,#msg-red-debug i,#msg-green-dbg i
{
	float:left;
	margin-right:7px
}

#msg-green
{
	background-color:#fcf7c9;
	border:#393 1px solid;
	color:#393;
	width:500px;
	height:75px;
	overflow:hidden;
	padding:8px
}

#msg-green-dbg
{
	background-color:#fcf7c9;
	border:#393 1px dotted;
	color:#393;
	width:75%;
	overflow:hidden;
	margin:10px auto;
	padding:8px
}

#msg-blue
{
	background-color:#fcf7c9;
	border:#06F 1px solid;
	color:#06F;
	width:500px;
	height:75px;
	overflow:hidden;
	padding:8px
}

#log_res
{
	overflow:auto
}

#log_res.ajax-loading
{
	background:url(../images/spinner.gif) no-repeat center;
	padding:20px 0
}

.front-module-line
{
	border-bottom-color:#CCC;
	border-bottom-style:solid;
	border-bottom-width:1px;
	background:url(../images/detail_head.gif);
	color:#fff
}

.admin-row
{
	border-bottom-color:#CCC;
	border-bottom-style:solid;
	border-bottom-width:1px
}

#gc
{
	height:68px;
	width:25%;
	float:left;
	color:#FFF;
	background-image:url(../images/gcbg.png);
	background-position:top left;
	background-repeat:no-repeat;
	padding:3px 0 0 5px
}

#sb
{
	height:68px;
	width:50%;
	float:left;
	text-align:center
}

#sm
{
	height:68px;
	width:20%;
	float:right;
	color:#FFF;
	text-align:right;
	background-image:url(../images/smbg.png);
	background-position:top right;
	background-repeat:no-repeat;
	padding:3px 5px 0 0
}

#login
{
	width:400px;
	height:260px;
	border:1px solid #aaa9a9;
	margin:30px auto;
	padding:12px
}

#lostpassword
{
	width:400px;
	height:260px;
	margin:30px auto;
	padding:12px
}

#loginLogo
{
	text-align:center;
	height:60px
}

#loginUsernameDiv,#loginPasswordDiv,#loginRememberMe,#loginSubmit
{
	padding:6px 0
}

.loginmedium
{
	width:394px;
	height:22px;
	font-size:18px
}

#loginSubmit
{
	text-align:right
}

#loginbutton
{
	font-size:14px;
	background-color:#000;
	border:2px outset #999;
	color:#FFF;
	font-weight:700;
	padding:5px 10px
}

#loginOtherlinks
{
	border-top:1px solid #aaa9a9;
	text-align:center;
	margin-top:26px;
	padding:8px 0
}

.rowdesc
{
	color:#0B1B51;
	font-weight:700
}

#cpanel
{
	width:100%;
	height:120px
}

#cpanel ul li a
{
	display:block;
	height:97px!important;
	width:108px!important;
	vertical-align:middle;
	text-decoration:none;
	border:1px solid #DDD;
	margin-right:20px;
	padding:2px 5px 1px
}

#cpanel ul li img
{
	margin-top:13px
}

#admin-page-menu
{
	width:20%;
	float:left;
	padding:5px
}

#admin-page-menu ul .active
{
	color:#333;
	background-color:#f1e8e6;
	font-weight:700;
	background-image:url(../images/admin/rightarrow.png);
	background-position:center right;
	background-repeat:no-repeat
}

#admin-page-menu ul li a
{
	display:block;
	height:20px;
	text-decoration:none;
	border-bottom:1px solid #DDD;
	border-left:5px solid #DDD;
	padding:2px 5px 1px
}

#admin-page-menu ul li a .tab-img
{
	border:none
}

#admin-page-menu ul li a:hover
{
	color:#333;
	background-color:#f1e8e6;
	border:1px solid #c24733;
	border-left:5px solid #c24733;
	background-image:url(../images/admin/rightarrow.png);
	background-position:center right;
	background-repeat:no-repeat;
	padding:2px 5px 1px
}

#admin-page-content
{
	width:76%;
	float:right;
	border:1px solid #DDD;
	padding:5px
}

#permis-drop
{
	width:676px;
	float:right;
	height:100%;
	border:1px solid #DDD;
	overflow:hidden;
	margin:0 auto;
	padding:7px
}

.permis-container
{
	width:690px;
	float:none;
	height:100%;
	overflow:hidden
}

.permis-container ul li a
{
	display:block;
	height:37px;
	width:100px;
	vertical-align:middle;
	text-decoration:none;
	border:1px solid #DDD;
	margin-right:20px;
	margin-bottom:20px;
	padding:7px 5px 1px
}

.permis-container ul li a:hover
{
	color:#333;
	background-color:#f1e8e6;
	border:1px solid #c24733;
	cursor:move;
	padding:8px 4px 0 6px
}

#front-servers
{
	margin:13px
}

#front-servers hr
{
	border:1px solid #DDD;
	margin-bottom:5px
}

.front-module
{
	width:410px;
	margin:13px
}

.front-module-intro
{
	width:98%;
	margin:13px
}

.front-module-header
{
	border-bottom:1px dotted #000;
	margin-bottom:3px;
	font-size:12px;
	font-weight:600;
	background-color:#eaeaea;
	padding:3px
}

.fmsd
{
	font-size:10px
}

#submit-main
{
	border:1px solid #DDD;
	float:right;
	padding:5px
}

#submit-main-full
{
	border:1px solid #DDD;
	float:left;
	width:98%;
	padding:5px
}

.faux-button
{
	font-size:11px;
	background-color:#d7d8d8;
	color:#b80202;
	border:1px solid #aaa9a9;
	font-weight:600;
	letter-spacing:1px;
	padding:2px 10px
}

.submit-fields
{
	border:1px solid #000;
	font-size:14px;
	background-color:#d7d7d7
}

.mandatory
{
	color:red
}

#servers
{
	width:850px;
	border:1px solid #DDD;
	border-top:2px solid #aaa9a9;
	padding:5px
}

#singleserver
{
	width:500px;
	border:1px solid #DDD;
	border-top:2px solid #aaa9a9;
	float:left;
	padding:5px
}

#singleoverview
{
	width:350px;
	border:1px solid #DDD;
	border-top:2px solid #aaa9a9;
	float:right;
	padding:5px
}

.activeplayer
{
	border-bottom:1px solid #DDD;
	border-top:1px solid #DDD;
	background-color:#eaebeb
}

table.listtable
{
	font-family:verdana, tahoma, arial;
	font-size:10px;
	background-color:#fff;
	border:1px #DDD solid;
	border-collapse:collapse
}

table.listtable2
{
	font-family:verdana, tahoma, arial;
	font-size:10px;
	background-color:#898989;
	color:#000;
	border:#c5c5c5 solid;
	border-width:1px
}

table.listtable3
{
	font-family:verdana, tahoma, arial;
	font-size:11px;
	background-color:#898989;
	color:#000;
	border:#c5c5c5 solid;
	border-width:0
}

td.listtable_top
{
	font-family:verdana, tahoma, arial;
	font-size:10px;
	background-color:#DFE3E9;
	border:#fff solid;
	color:#fff;
	background-image:url(../images/detail_head.gif);
	border-width:1px 1px 0 0;
	padding:2px 4px
}

td.listtable_1
{
	font-family:verdana, tahoma, arial;
	font-size:10px;
	border:#DDD solid;
	border-width:0 0 1px 1px;
	padding:2px 4px
}

.green
{
	font-family:verdana, tahoma, arial;
	font-size:10px;
	border:#DDD solid;
	background-color:#8bd659;
	border-width:0 0 1px 1px;
	padding:2px 4px
}

.yellow
{
	font-family:verdana, tahoma, arial;
	font-size:10px;
	border:#DDD solid;
	background-color:#d6cc59;
	border-width:0 0 1px 1px;
	padding:2px 4px
}

.ban-edit li a
{
	display:block;
	height:20px;
	text-decoration:none;
	border-bottom:1px solid #DDD;
	padding:2px 5px 1px
}

#banlisttitle
{
	width:50%;
	float:left
}

#banlist-nav
{
	width:50%;
	float:right;
	text-align:right
}

#banlist
{
	width:100%;
	float:left;
	margin-top:2px;
	border-top:2px solid #aaa9a9
}

a:link,a:visited
{
	text-decoration:none;
	color:#2f4075
}

#tabs ul,#admin-page-menu ul,.ban-edit ul
{
	list-style:none;
	margin:0;
	padding:0 10px
}

#tabs ul li.active a:hover,a.footer_link:link,a.footer_link:visited
{
	color:#FFF;
	text-decoration:none
}

a.nav_link:hover,a.footer_link:hover
{
	text-decoration:underline
}

.icon-error,.icon-warning
{
	background-image:url(../images/warning.png);
	float:left;
	height:48px;
	overflow:hidden;
	width:48px!important;
	padding:0!important
}

#cpanel ul,.permis-container ul
{
	list-style:none;
	margin:0;
	padding:10px
}

#cpanel ul li,.permis-container ul li
{
	margin-right:2px;
	float:left;
	text-align:center
}

#cpanel ul li a:hover,.ban-edit ul li a:hover
{
	color:#333;
	background-color:#f1e8e6;
	border:1px solid #c24733;
	padding:3px 4px 0 6px
}

#admin-page-menu ul li,.ban-edit ul li
{
	text-align:left
}

#front-introduction,#submit-introduction,.ban-edit
{
	padding:5px
}

.red,td.listtable_2
{
	font-family:verdana, tahoma, arial;
	font-size:10px;
	border:#DDD solid;
	background-color:#d65959;
	border-width:0 0 1px 1px;
	padding:2px 4px
}